.env
build

.idea
.env*
build/
node_modules/
cache
yarn.lock
package-lock.json
yarn-error.log

node_modules
coverage
coverage.json
typechain
typechain-types
.VSCodeCounter/


# Hardhat files
cache
artifacts

